body {
    background: rgb(160, 156, 156);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    transform: translateX(-50%);
}

.second-clock {
    --diam: 400px;
    width: var(--diam);
    height: var(--diam);
    border: rgba(255,255,255,.8) solid .7px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: large;
    color: white;
    --angle: 0deg;
    transform: rotate(var(--angle));
}

.instant {
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(var(--angle));
}

.inst-shape {
    position: absolute;
    height: 10px;
    width: .9px;
    background-color: white;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 1%;
}

.sec-num60 { --angle: 0deg }
.ins1 { --angle: 6deg }
.ins2 { --angle: 12deg }
.ins3 { --angle: 18deg }
.ins4 { --angle: 24deg }
.sec-num5 { --angle: 30deg }
.ins6 { --angle: 36deg }
.ins7 { --angle: 42deg }
.ins8 { --angle: 48deg }
.ins9 { --angle: 54deg }
.sec-num10 { --angle: 60deg }
.ins11 { --angle: 66deg }
.ins12 { --angle: 72deg }
.ins13 { --angle: 78deg }
.ins14 { --angle: 84deg }
.sec-num15 { --angle: 90deg }
.ins16 { --angle: 96deg }
.ins17 { --angle: 102deg }
.ins18 { --angle: 108deg }
.ins19 { --angle: 114deg }
.sec-num20 { --angle: 120deg }
.ins21 { --angle: 126deg }
.ins22 { --angle: 132deg }
.ins23 { --angle: 138deg }
.ins24 { --angle: 144deg }
.sec-num25 { --angle: 150deg }
.ins26 { --angle: 156deg }
.ins27 { --angle: 162deg }
.ins28 { --angle: 168deg }
.ins29 { --angle: 174deg }
.sec-num30 { --angle: 180deg }
.ins31 { --angle: 186deg }
.ins32 { --angle: 192deg }
.ins33 { --angle: 198deg }
.ins34 { --angle: 204deg }
.sec-num35 { --angle: 210deg }
.ins36 { --angle: 216deg }
.ins37 { --angle: 222deg }
.ins38 { --angle: 228deg }
.ins39 { --angle: 234deg }
.sec-num40 { --angle: 240deg }
.ins41 { --angle: 246deg }
.ins42 { --angle: 252deg }
.ins43 { --angle: 258deg }
.ins44 { --angle: 264deg }
.sec-num45 { --angle: 270deg }
.ins46 { --angle: 276deg }
.ins47 { --angle: 282deg }
.ins48 { --angle: 288deg }
.ins49 { --angle: 294deg }
.sec-num50 { --angle: 300deg }
.ins51 { --angle: 306deg }
.ins52 { --angle: 312deg }
.ins53 { --angle: 318deg }
.ins54 { --angle: 324deg }
.sec-num55 { --angle: 330deg }
.ins56 { --angle: 336deg }
.ins57 { --angle: 342deg }
.ins58 { --angle: 348deg }
.ins59 { --angle: 354deg }

.second-hand {
    --rotation: 0;
    bottom: 50%;
    position: absolute;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    transform-origin: bottom;
    height: 185px;
    width: 2.4px;
    background-color: rgb(63, 45, 42);
    z-index: 10;
}

.second-clock::after {
    content: "";
    position: absolute;
    background-color: rgb(63, 45, 42);
    z-index: 11;
    width: 6px;
    height: 6px;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.minute-clock::after {
    content: "";
    position: absolute;
    background-color: rgb(22, 22, 41);
    border-radius: 100%;
    width: 4.7px;
    height: 4.7px;
    z-index: 10;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    transform: translateX(-50%); 
}

.minute-hand {
    --rotation: -27;
    position: absolute;
    transform-origin: bottom;
    height: 169px;
    width: 3px;
    background-color: rgb(26, 26, 53);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    z-index: 9;
    bottom: 49.3%;
    left: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
}

.minute-clock {
    position: relative;
    left: 0%;
    border-radius: 50%;
    border: dashed rgba(255,255,255,.6) 1.6px;
    --diam: 350px;
    height: var(--diam);
    width: var(--diam);
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    left: 98%;
    top: 49.6%;
}

.hour-clock::after {
    content: "";
    position: absolute;
    background-color: rgb(36, 43, 51);
    border-radius: 100%;
    width: 5.3px;
    height: 5.3px;
    z-index: 10;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    transform: translateX(-50%); 
}

.hour-hand {
    --rotation: 150;
    position: absolute;
    transform-origin: bottom;
    height: 153px;
    width: 4px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-color: rgb(36, 43, 51);
    z-index: 9;
    bottom: 49.2%;
    left: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
}

.hour-clock {
    position: relative;
    border-radius: 50%;
    border: dashed rgba(255,255,255,.6) 1.6px;
    --diam: 350px;
    height: var(--diam);
    width: var(--diam);
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    left: 2%;
    top: -39%;
}

.hour {
    font-size: large;
}

.hour-num1 { --angle: 29deg }
.hour-num2 { --angle: 40deg }
.hour-num3 { --angle: 51deg }
.hour-num4 { --angle: 62deg }
.hour-num5 { --angle: 73deg }
.hour-num6 { --angle: 84deg }
.hour-num7 { --angle: 95deg }
.hour-num8 { --angle: 106deg }
.hour-num9 { --angle: 117deg }
.hour-num10 { --angle: 128deg }
.hour-num11 { --angle: 139deg }
.hour-num12 { --angle: 150deg }


.minst-shape {
    position: absolute;
    height: 3px;
    width: 1.2px;
    background-color: rgba(255, 255, 255, 0.665);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 1%;
}

/* ~2.1525deg betweem each element */

.mins1 { --angle: -27deg }
.mins2 { --angle: -29.1525423deg }
.mins3 { --angle: -31.3050846deg }
.mins4 { --angle: -33.4576269deg }
.min-num5 { --angle: -35.6101692deg }
.mins6 { --angle: -37.7627115deg }
.mins7 { --angle: -39.9152538deg }
.mins8 { --angle: -42.0677961deg }
.mins9 { --angle: -44.2203384deg }
.min-num10 { --angle: -46.3728807deg }
.mins11 { --angle: -48.525423deg }
.mins12{ --angle: -50.6779653deg }
.mins13 { --angle: -52.8305076deg }
.mins14 { --angle: -54.9830499deg }
.min-num15 { --angle: -57.1355922deg }
.mins16 { --angle: -59.2881345deg }
.mins17 { --angle: -61.4406768deg }
.mins18 { --angle: -63.5932191deg }
.mins19 { --angle: -65.7457614deg }
.min-num20 { --angle: -67.8983037deg }
.mins21 { --angle: -70.050846deg }
.mins22 { --angle: -72.2033883deg }
.mins23 { --angle: -74.3559306deg }
.mins24 { --angle: -76.5084729deg }
.min-num25 { --angle: -78.6610152deg }
.mins26 { --angle: -80.8135575deg }
.mins27 { --angle: -82.9660998deg }
.mins28 { --angle: -85.11864217288136deg }
.mins29 { --angle: -87.27118454576271deg }
.min-num30 { --angle: -89.42372691864407deg }
.mins31 { --angle: -91.57626929152542deg }
.mins32{ --angle: -93.72881166440678deg }
.mins33 { --angle: -95.88135403728814deg }
.mins34 { --angle: -98.03389641016949deg }
.min-num35 { --angle: -100.1864387830508deg }
.mins36 { --angle: -102.3389811559322deg }
.mins37 { --angle: -104.4915235288136deg }
.mins38 { --angle: -106.6440659016949deg }
.mins39 { --angle: -108.7966082745763deg }
.min-num40 { --angle: -110.9491506474576deg }
.mins41 { --angle: -113.101693020339deg }
.mins42 { --angle: -115.2542353932203deg }
.mins43 { --angle: -117.4067777661017deg }
.mins44 { --angle: -119.5593201389831deg }
.min-num45 { --angle: -121.7118625118644deg }
.mins46 { --angle: -123.8644048847458deg }
.mins47 { --angle: -126.0169472576271deg }
.mins48 { --angle: -128.1694896305085deg }
.mins49 { --angle: -130.3220320033898deg }
.min-num50 { --angle: -132.4745743762712deg }
.mins51 { --angle: -134.6271167491525deg }
.mins52{ --angle: -136.7796591220339deg }
.mins53 { --angle: -138.9322014949153deg }
.mins54 { --angle: -141.0847438677967deg }
.min-num55 { --angle: -143.237286240678deg }
.mins56 { --angle: -145.3898286135594deg }
.mins57 { --angle: -147.5423709864407deg }
.mins58 { --angle: -149.6949133593221deg }
.mins59 { --angle: -151.8474557322034deg }
.min-num60 { --angle: -154deg }

.min {
    top: -0.2%;
    right: -.2%;
    font-size: 9px;
}